:root {
  --main: #5e3bee;
  --heading-color: #42434b;
  --text-white: #f0f3ff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #0000;
  --body-light: #f0f3ff;
  --background-top: #211951;
  --background-bottom: #836fff;
  --btn-maincolor: #15f5ba;
  --btn-hovercolor: #14b188;
}

.footer-section {
  padding: 50px 0;
  background-color: var(--background-bottom);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* box around the contact section  */
.contact-box {
  border-radius: 30px;
  background-color: var(--background-top);
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* text section  */
.contact-box h2 {
  color: var(--text-white);
  text-align: center;
}

.contact-box p {
  color: var(--text-white);
  text-align: center;
}

.contact-box ul {
  padding-left: 0;
}

.contact-box li {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-white);
}

.contact-box img {
  margin-right: 5px;
  transition: transform 0.3s ease-in-out;
}

.contact-box img:hover {
  transform: scale(1.2);
}
.helloBtn {
  background-color: var(--btn-maincolor) !important;
  border-color: var(--btn-maincolor) !important;
  transition: background-color 0.3s ease-in-out;
}

.helloBtn:hover {
  background-color: var(--btn-hovercolor) !important;
  border-color: var(--btn-hovercolor) !important;
}
