:root {
  --main: #5e3bee;
  --heading-color: #42434b;
  --text-white: #f0f3ff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --black: #0000;
  --body-light: #f0f3ff;
  --background-top: #211951;
  --background-bottom: #836fff;
}

.footer-section {
  padding: 50px 0;
  background-color: var(--background-bottom);
  height: 40.3vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* box around the contact section  */
.contact-box {
  border-radius: 30px;
  background-color: var(--background-top);
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* text section  */
.contact-box h2 {
  color: var(--text-white);
}

.contact-box p {
  color: var(--text-white);
}

.contact-box ul {
  padding-left: 0;
}

.contact-box li {
  text-decoration: none;
  color: var(--text-white);
  margin-bottom: 10px;
}

.contact-box img {
  margin-right: 5px;
}
