/* Start Navigation including the logo */
.navbar-brand img {
  max-height: 50px;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f0f3ff;
}

.navbar-nav {
  text-align: centers;
}

.navbar-collapse {
  justify-self: flex-end;
}

.nav-link {
  font-weight: bold !important;

  text-decoration: none;
}

.nav-link:hover {
  color: #836fff !important;
  text-decoration: none;
}

.navbar-toggler {
  border-color: #333;
}

.navbar-toggler-icon {
  border-color: #333;
}
/* End Navigation including the logo */

/* Start Sm Mb dropdown navbar */

.dropdown-menu {
  box-shadow: 0, 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  font-weight: bold !important;
}

.dropdown-item:hover {
  background-color: #836fff !important;
  text-decoration: none;
}

/* End Sm Mb dropdown navbar */
