:root {
  --main: #5e3bee;
  --heading-color: #cfd1f1;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --White: #ffff;
  --black: #0000;
}

h1 {
  font-weight: 700;
  line-height: 60px;
  font-size: 50px;
}

h2 {
  font-weight: 700;
  line-height: 57px;
  font-size: 45px;
}

h3 {
  font-weight: 700;
  line-height: 30px;
  font-size: 25px;
}

.text-lg {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: var(--darkblue);
}

.text-md {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--darkblue);
}

.text-sm {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: var(--black);
}
.btn {
  font-family: 'Outift', sans-serif;
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  transition: background-color 0.5s;
  font-style: italic;
}

.btn-outline-primary {
  color: var(--White);
  border: 1px solid var(--main);
  background-color: var(--White);
}
.btn-outline-primary:hover {
  color: var(--White);
  background-color: var(--main);
}

.btn-primary {
  color: var(--White);
  background-color: var(--main);
  border: 1px solid var(--main);
}

.btn-primary:hover {
  color: var(--main);
  background-color: (var(--White));
}

.btn-github {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--github);
  color: var(--main);
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.95);
  gap: 16px;
  background-color: (var(--github));
}

.btn-github:hover {
  background-color: (var(--White));
  color: var(--github);
}

/* Section for Header */

.hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 32px;
  background-color: var(--heading-color);
  padding: 135px 85px 133px;
  justify-content: space-between;
}
.section-title {
  display: flex;
  align-items: flex-start;
  text-align: center;
  color: var(--heading-color);
  font-style: normal;
  font-family: 'Outfit', sans-serif;
  font-weight: 600s;
  font-size: 21px;
  line-height: 32px;
}

.hero-section-title {
  color: var(--heading-color);
  line-height: 27px;
  font-weight: bold;
  font-size: 26px;
}

.hero-content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.hero-content-box > button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px;
}

.hero-section-des {
  font-size: 20px;
  line-height: 28px;
  color: var(--darkblue);
}

.hero-img {
  display: flex;
}

.hero-img > img {
  height: 100%;
  width: 100%;
}
