:root {
  --main: #5e3bee;
  --heading-color: #42434b;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --White: #ffff;
  --black: #0000;
  --body-light: #f0f3ff;
  --body-dark: #211951;
}

h1 {
  font-weight: 700;
  line-height: 60px;
  font-size: 50px;
}

h2 {
  font-weight: 700;
  line-height: 57px;
  font-size: 45px;
}

h3 {
  font-weight: 700;
  line-height: 30px;
  font-size: 25px;
}

/* buttons */

.custom-btn {
  background-color: var(--body-light);
  text-decoration: none;

  border-radius: 100%;
  font-size: 30px;
  font-weight: 600;
  padding: 15px 26px;

  transition: background-color 0.3s, border-color 0.3s;
}

.custom-btn:hover {
  background-color: var(--body-light);
  border-color: var(--body-dark);
}
/* Section for Header */

.section-title {
  display: flex;
  align-items: flex-start;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--White);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  line-height: 60px;
}

.hero-section-des {
  font-size: 20px;
  line-height: 28px;
  color: var(--White);
}

.hero-img {
  display: flex;
  justify-content: center;
}

.hero-img > img {
  object-fit: cover;
  height: 450px;
  width: 450px;
}

.img-fluid {
  border-radius: 50%;
}

.hero-section {
  background-color: var(--darkblue);
}
