:root {
  --main: #5e3bee;
  --heading-color: #42434b;
  --bg-shade: #f5fcff;
  --github: #e62872;
  --darkblue: #1c1e53;
  --White: #ffff;
  --black: #0000;
  --body-light: #f0f3ff;
  --body-dark: #211951;
}

/* Section for Header */

.section-title {
  display: flex;
  align-items: flex-start;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #f0f3ff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  line-height: 60px;
}

.hero-section-des {
  font-size: 20px;
  line-height: 28px;
  color: #f0f3ff;
}

.hero-img {
  display: flex;
  justify-content: center;
}

.hero-img > img {
  object-fit: cover;
  height: 450px;
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-fluid {
  border-radius: 50%;
}

.hero-section {
  background-color: #211951;
}
