body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; /* Improve font rendering for Chrome/Safari */
  -moz-osx-font-smoothing: grayscale; /* improves rendering for Firefox */
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 h6,
p {
  margin: 0;
}
